{% extends 'base.html' %}

{% block content %}

    <h2 class="mb-3">О нас</h2>
    <dl class="row">
        <dt class="col-sm-3"><p>Создатель</p></dt>
        <dd class="col-sm-9"><p>Баранов Артем</p></dd>

        <dt class="col-sm-3">Группа</dt>
        <dd class="col-sm-9">
            <p>ИКБО-13-19</p>
        </dd>

        <dt class="col-sm-3">Предмет</dt>
        <dd class="col-sm-9">
            <p>Разработка серверных частей интернет ресурсов</p>
            <p>Курсовая работа</p>

        </dd>

        <dt class="col-sm-3 text-truncate">Контакты</dt>
        <dd class="col-sm-9 row">
            <div class="col">
                <a href="https://vk.com/omkapretty" class="link-secondary">
                    <ion-icon name="logo-vk"></ion-icon>
                </a>
            </div>
            <div class="col">
                <a href="https://www.instagram.com/omka2061/" class="link-secondary">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>
            <div class="col">
                <a href="https://github.com/omka0708" class="link-secondary">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </div>
        </dd>
    </dl>
{% endblock %}