{% extends 'base.html' %}

{% block content %}
    <h1>Обзор всех мероприятий</h1>
    {% for event in events %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ event.photo.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">Начало: <b>{{ event.date|date:"Y-m-d H:i" }}</b></p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a class="btn btn-outline-dark" href="{% url 'reserve_ticket' event.pk %}" role="button">Зарезервировать билет</a>
                    </div>
                </div>
            </div>
        </div>



    {% endfor %}
{% endblock %}